<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} </title> 
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>-->
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/htmx.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--<a href="https://www.flaticon.com/free-icons/dictionary" title="dictionary icons">Dictionary icons created by lutfix - Flaticon</a>-->
</head>

<!-- **********BODY*************-->
<body>
    <div class="min-h-screen bg-light-olive">
    <div class="grid grid-flow-row auto-rows-max">

    <!-- NAVBAR -->

    <nav class="px-2 sm:px-4 py-2 rounded bg-light-olive dark:bg-gray-900">
        <div class="container flex justify-between items-center mx-auto">
            <a href="{{ url_for('index') }}" class="flex items-center">
                <span class="self-center text-4xl font-semibold whitespace-nowrap text-deep-olive dark:text-white">Bastaki</span>
            </a>

            <div class="justify-between items-center w-3/4 md:flex md:w-auto md:order-1">
                <ul
                    class="flex flex-col p-4 mt-4  rounded-lg border md:flex-row md:space-x-8 
                    md:mt-0 md:text-sm md:font-semibold md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="{{ url_for('index') }}"
                            class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-deep-olive md:hover:bg-deep-olive hover:text-slate-100
                             md:hover:text-slate-100 md:p-3 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 hover:rounded-xl
                             dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 text-lg">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('info') }}" 
                            class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-deep-olive md:hover:bg-deep-olive hover:text-slate-100
                            md:hover:text-slate-100 md:p-3 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 hover:rounded-xl
                            dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 text-lg">Information</a>
                    </li>
                    <li>
                        <a href="{{ url_for('dictionary') }}"
                            class="block py-2 pr-2 pl-3 text-gray-700 rounded hover:bg-deep-olive md:hover:bg-deep-olive hover:text-slate-100
                             md:hover:text-slate-100 md:p-3 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 hover:rounded-xl
                             dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 text-lg">Dictionary</a>
                    </li>
                    <li>
                        <a href="{{ url_for('contact') }}" 
                            class="block py-2 pr-2 pl-2 text-gray-700 rounded hover:bg-deep-olive md:hover:bg-deep-olive hover:text-slate-100
                            md:hover:text-slate-100 md:p-3 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 hover:rounded-xl
                            dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 text-lg">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--<hr>-->
        {% block content %} {% endblock %}
    </div>

        <footer></footer>
</div>
</div>

</body>
</html>
