{% extends 'base.html' %}

{% block content %}
    <!--<h1 class>{% block title %} Dictionary {% endblock %}</h1>-->
    
<!-- SHORT INTRO -->

<div class="w-screen">
<!--<div class ="py-8 lg:py-16 px-4 mx-auto w-5/6 sm:3/4 xl:max-w-screen-lg">-->
<div class ="py-8 lg:py-16 px-4 mx-auto max-w-screen-lg">

        
        <!-- ABOVE TABLE BAR: SEARCH AND FILTER SECTION -->
        <div class="pl-8 pb-4 dark:bg-gray-900 mx-auto max-w-screen-xl flow-root">
            <form method="POST" action="{{ url_for('dictionary') }}" class="space-y-8" name="dictionaryform" id="dictionaryform">

            <!-- SEARCH BAR -->
            <div class="float-left relative mt-1 pb-5 pt-1 pr-5"> 
                <input type="text" class="block p-1 pl-10 text-sm text-gray-900 border fade-in
                border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-green-500 focus:border-green-500
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500
                dark:focus:border-blue-green" placeholder="Search for a word.." id="dictsearch" name="dictsearch">
            </div>
            <!--END OF SEARCH SECTION-->

            <!-- WORD TYPE FILTER -->
                <div class="mt-1 pb-5 pt-2 pr-5">
                <select id="partofspeech" name="partofspeech" class="mb-5 float-left block p-1 pl-10 text-sm text-gray-900 border fade-in
                border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-green-500 focus:border-green-500 hover:bg-light-olive
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500
                dark:focus:border-blue-green">
                    <option value="" disabled selected>Word Type</option>
                    <option value="all">All</option>
                    <option value="pronoun">Pronouns</option>
                    <option value="noun">Nouns</option>
                    <option value="verb">Verbs</option>
                    <option value="adjective">Adjectives</option>
                    <option value="preposition">Prepositions</option>
                    <option value="adverb">Adverbs</option>
                    <option value="culture">Misc.</option>
                </select>

                <div class="">
                    <button type="submit" class="ml-3 py-1 px-5 text-sm font-semibold text-center text-white rounded-lg bg-deep-olive sm:w-fit 
                    hover:bg-green-800 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Filter</button>
                </div>

            <!-- END OF FILTER SECTION-->
            </div>
                
            </form>   
    </div>
    <!-- END OF SEARCH+FILTER SECTION-->



        <!-- THE DATA TO BE DISPLAYED -->
        <div id="dictionarycontent">
        {% if itm | length != 0 %}
            <!--<table id="searchresults" class="w-5/6 justify-items-center text-sm text-center text-gray-500 dark:text-gray-400 fade-in mx-auto 
                rounded-xl overflow-x-auto overflow-hidden max-w-screen-xl">-->
        
            <table id="searchresults" class="text-center text-xs min-w-full">
                <thead class=" bg-med-olive text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
                    <tr class="">
                        <th scope="col" class="px-6 sm:px-2 py-4">
                            English
                        </th>
                        <th scope="col" class="px-6 sm:px-2 py-4">
                            Bastaki Transliteration
                        </th>
                        <th scope="col" class="px-6 sm:px-2 py-4">
                            Part of Speech 
                        </th>
                        <th scope="col" class="px-6 sm:px-2 py-4">
                            Additional Classifier
                        </th>
                        <th scope="col" class="px-6 sm:px-2 py-4">
                            Example
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for i in itm %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            {% else %}
            <div id="searchresults"> </div>
            {% endif %}

        </div>

    </div>

</div>
</div>
{% endblock %}