{% extends 'base.html' %}

<!-- <h1 class>{% block title %} Information {% endblock %}</h1>-->

{% block content %}

<div class="sm:max-w-screen-sm w-auto">
 <div class="w-screen">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <p class="font-semibold text-lg p-2 underline">Basic Information</p>
    <p class="p-3 fade-in">
        Bastaki is a dialect of Ajami/Achomi (اچُمی), also known as Lar, Lari, Larestani, or Khudmooni. The language is not referred to by a consistent name, 
        often called Lari or Larestani in research but known as Ajami, Achomi, and sometimes Khudmooni by native speakers. 
    </p>
    <p class="p-3 fade-in">
        The speech community of Ajami includes the southern Fars and western Hormozgan provinces in Iran, with various counties speaking their constituent dialects <a href="#2"><sup>[2]</sup></a>. 
        The Bastaki dialect originated in the Bastak county in the Hormozgan province but due to the migration of native speakers over time, there are now 
        pockets of Bastaki-speakers in several Arab countries, including the United Arab Emirates, Oman, Bahrain, and Qatar.
    </p>

    <p class="font-semibold p-2 text-lg underline">Classification Discepancy and Discussion</p>
    <p class="p-3 fade-in">
        While the term <i>Ajami</i> is well known within Iran and many Arab countries near the Persian Gulf, there are almost no written accounts referring to the language as such. 
        From an etymological perspective, there are several potential origins of the word. One theory attributes the name to the heavy use of the [tʃ] consonant in the language<a href="#3"><sup>[3]</sup></a>. 
        Another is that it came from the Arabic word <i>Ajam</i> (عجم), meaning non-Arab, that Ajami-speakers were likely referred to during trade between Arab countries along 
        the Persian Gulf<a href="#3"><sup>[3]</sup></a>. Some scholars prefer not to use Ajami/Achomi on this basis, as it holds negative connotations due to the exclusion of a group<a href="#3"><sup>[3]</sup></a>. 
    </p>
    <p class="p-3 fade-in"> 
        Lari and Larestani are thus more frequently seen in literature but, since Lari is itself a dialect, some researchers prefer the term Larestani to more accurately describe
        the language<a href="#3"><sup>[3]</sup></a>. However, in this case, Larestani may also not be the most correct term. Larestani describes the common language spoken in 
        Larestan County, some of its constituent dialects, such as Bastaki, lay outside this region. This provides a misleading disconnect between the Bastaki dialect and its mother language. 
    </p>

    <p class="p-3 fade-in">
        Moreover, even the status of Ajami as a language is contested, with some scholars agreeing Ajami is a language while
        others consider it a dialect of Persian<a href="#4"><sup>[4]</sup></a>. There is no universal definition by which to differentiate languages and dialects but some linguists 
        attempt to delineate the two using measures of structural or linguistic similarity, though they may not always be defined as such in practice<a href="#3"><sup>[3]</sup></a><a href="#4"><sup>[4]</sup></a>.
        Since Persian and Achomi are not mutually intelligble, it seems reasonable to consider it a language in its own right. This is further supported by the fact that Ajami itself has dialects, 
        though the exact number of dialects are debated. 
    </p>

    <p class="p-3 fade-in">Note: In the following sections, the general mother language of Bastaki is referred to as <i>Ajami</i> while the term <i>Larestani</i> is used when drawing linguistic comparisons to ensure accuracy and consistency with literature.</p>

    <!-- BASIC GRAMMAR SECTION -->
    <p class="font-semibold p-2 text-lg underline">Basic Grammar</p>
    <p class="p-3"> Generally, a sentence in Bastaki is structured in the form: <a class="font-semibold">pronoun + noun + verb </a> </p>
    
    <p class="p-3 fade-in">
        Bastaki has a prefix <i>a-</i> for habitual and <i>a-</i> + a medial affix <i>-dä-</i> for the complete progressive construction
      </p>
      <!-- PROGRESSIVE CONSTRUCTION TABLE -->
      <div class="flex flex-col relative mt-1 p-2">
        <div class="overflow-x-hidden sm:-mx-6 lg:-mx-8 ">
          <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full text-left text-sm font-medium">
                <thead
                  class="border-b dark:border-neutral-500 dark:bg-neutral-600 bg-ml-olive">
                  <tr>
                    <th scope="col" class="px-6 py-4">English</th>
                    <th scope="col" class="px-6 py-4">Bastaki</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="whitespace-nowrap px-6 py-4">I am going</td>
                    <td class="whitespace-nowrap px-6 py-4"><b class="font-semibold">a</b>che<b class="font-semibold">dä</b>him</td>
                  </tr>
                  <tr
                    class="border-b bg-white dark:border-neutral-500 dark:bg-neutral-600">
                    <td class="whitespace-nowrap px-6 py-4">You are seeing</td>
                    <td class="whitespace-nowrap px-6 py-4"><b class="font-semibold">a</b>da<b class="font-semibold">dä</b>hish</td>
                  </tr>
                  <tr
                  class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-600">
                  <td class="whitespace-nowrap px-6 py-4">S/he is doing</td>
                  <td class="whitespace-nowrap px-6 py-4"><b class="font-semibold">a</b>kar<b class="font-semibold">do</b>y</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- PROGRESSIVE CONSTRUCTION TABLE END -->

    <p class="p-3">Verb conjugation in the present participle tense using the verb root <i>a-khard-</i> (to eat) </p>

    <!-- VERB CONJUGATION EXAMPLE-->
    <div class="flex flex-col relative mt-1 p-2">
        <div class="overflow-x-hidden sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full text-left text-sm font-medium">
                <thead
                  class="border-b bg-ml-olive dark:border-neutral-500 dark:bg-neutral-600">
                  <tr>
                    <th scope="col" class="px-6 py-4"> English </th>
                    <th scope="col" class="px-6 py-4"> Bastaki </th>
                  </tr>
                </thead>
                <tbody>
                    <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="whitespace-nowrap px-6 py-4">I am eating</td>
                    <td class="whitespace-nowrap px-6 py-4">akhardä<b class="font-semibold">him</b></td>
                  </tr>
                  <tr
                    class="border-b bg-white dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="whitespace-nowrap px-6 py-4">you are eating</td>
                    <td class="whitespace-nowrap px-6 py-4">akhardä<b class="font-semibold">hish</b></td>
                  </tr>
                  <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="whitespace-nowrap px-6 py-4">s/he is eating</td>
                    <td class="whitespace-nowrap px-6 py-4">akhardä</td>
                  </tr>
                  <tr
                    class="border-b bg-white dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="whitespace-nowrap px-6 py-4">we are eating</td>
                    <td class="whitespace-nowrap px-6 py-4">akhardä<b class="font-semibold">hum</b></td>
                  </tr>
                  <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-600">
                    <td class="whitespace-nowrap px-6 py-4">they are eating</td>
                    <td class="whitespace-nowrap px-6 py-4">akhardä<b class="font-semibold">hin</b></td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- VERB CONJUGATION EXAMPLE END-->

      <!-- BASIC GRAMMAR SECTION END -->

    <p class="font-semibold p-2 text-lg underline">Linguistic Comparison</p>
    <p class="p-3 fade-in">
        Ajami is a descendant of a southwestern branch of Middle Persian called Pahlavi <a href="#2"><sup>[2]</sup></a>.   
        Being a descendant of Persian, it is an Indo-European language at its core but features non-Indo-European loan words, many from Arabic<a href="#5"><sup>[5]</sup></a>. Words from 
        Classical Arabic were loaned through Persian and words from Gulf Arabic dialects entered popular vocabulary through migration 
        and multilingualism<a href="#5"><sup>[5]</sup></a>. This is especially true for Bastaki, where the dialect has continued to develop as speakers migrate to Gulf countries <a href="#6"><sup>[6]</sup></a>.  
    </p>   
    <p class="p-3 fade-in"> The dialects seem to differ most with respect to pronounciation but word choice in Bastaki is interesting in that it sometimes 
        more closely resembles literary Persian than its own mother language. 
    </p>
    <p class="p-3 fade-in"> 
        Some comparisons:
    </p>
    <!-- WORD COMPARISON START -->
    <div class="flex flex-col relative mt-1 p-2">
        <div class="overflow-x-scroll sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 lg:px-8">
            <div class="overflow-scroll">
              <table class="min-w-full text-left text-sm font-medium">
                <thead
                  class="border-b bg-ml-olive font-medium dark:border-neutral-500 dark:bg-neutral-600">
                  <tr>
                    <th scope="col" class="px-6 sm:px-2 py-4">English</th>
                    <th scope="col" class="px-6 sm:px-2 py-4"> Ajami</br>(Larestani)<a href="#5"><sup>[5]</sup></a></th>
                    <th scope="col" class="px-6 sm:px-2 py-4">Bastaki</th>
                    <th scope="col" class="px-6 sm:px-2 py-4">Literary Persian<a href="#5"><sup>[5]</sup></a></th>
                  </tr>
                </thead>
                <tbody>
                <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">daughter</td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>dut</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>dut</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">dokhtar</td>
                  </tr>
                    <tr
                    class="border-b bg-white dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">big/large</td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>got, gapü</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>gap</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">bozorg</td>
                </tr>
                <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">alone</td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">sevā</td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>tahnä</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>tanhā</u></td>
                </tr>
                <tr
                    class="border-b bg-white dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">leg</td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">leng</td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>pä</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>pā</u></td>
                </tr>
                <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">mouth</td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>käp</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>käp</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">dahan</td>
                </tr> 
                <tr
                    class="border-b bg-white dark:border-neutral-500 dark:bg-neutral-600">
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4 font-medium">yesterday</td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>de</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>de</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">dirūz</td>
                </tr>
                <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4 ">tomorrow</td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>säbā</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4"><u>saba</u></td>
                    <td class="whitespace-nowrap px-6 sm:px-2 py-4">fardā</td>
                </tr>
                <tr
                    class="border-b bg-white dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="break-normal px-6 sm:px-2 py-4">I went</td>
                    <td class="break-normal px-6 sm:px-2 py-4">chedem</td>
                    <td class="break-normal px-6 sm:px-2 py-4"><u>raftam</u></td>
                    <td class="break-normal px-6 sm:px-2 py-4"><u>raftam</u></td>
                </tr>
                <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="break-normal px-6 sm:px-2 py-4">I ate</td>
                    <td class="break-normal px-6 sm:px-2 py-4"><u>omkhä</u></td>
                    <td class="break-normal px-6 sm:px-2 py-4"><u>omkhä/ omkhärdo</u></td>
                    <td class="break-normal px-6 sm:px-2 py-4">khordam</td>
                </tr>  
                <tr
                    class="border-b bg-white dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="break-normal px-6 sm:px-2 py-4">where are you going?</td>
                    <td class="break-normal px-6 sm:px-2 py-4">äko ächedoish?</td>
                    <td class="break-normal px-6 sm:px-2 py-4">kujä ächudoish?</td>
                    <td class="break-normal px-6 sm:px-2 py-4">kojā dāri miravi?</td>
                </tr>
                <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="break-normal px-6 sm:px-2 py-4">I want; I don't want; I wanted; I didn't want</td>
                    <td class="break-normal px-6 sm:px-2 py-4">mävi, omnóvi; mäves, omnáves</td>
                    <td class="break-normal px-6 sm:px-2 py-4">mäi, umnóvit, maiden, omnoiden</td>
                    <td class="break-normal px-6 sm:px-2 py-4">mikhwāham, nemikhwāham; khwāstam, nakhwāstam</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- WORD COMPARISON TABLE END -->
    <p class="p-3 fade-in">The use of <i>raftam</i> in Bastaki over <i>chedem</i> is interesting as the root <i>-che-</i> is stil used for the present tense (e.g. <i>a<b class="font-semibold">ched</b>ähim</i> "I am going").</p>

    <p class="p-3 fade-in"> 
        Looking at the above examples, the difference in accent is especially clear with a comparison like this.
        The Bastaki accent is consistently closer to Ajami, with even Persian loan words maintaining a distinct Bastaki pronounciation.  
    </p>
    <p class="p-3 fade-in"> 
        Due to the connection between Ajami and Pahlavi, they share many similarities, even retaining a number of phonemic archaisms from Middle Persian 
        that are no longer present in modern Persian<a href="#5"><sup>[5]</sup></a>. The rounded long vowels (<i>–ō</i>, <i>–ē</i>) from Middle Persian is preserved in both Ajami 
        and Bastaki. For example, even though the Bastaki word for "leg" is closer to Persian (Bastaki: <i>pä</i>, Persian: <i>pā</i>), it
        retains Middle Persian phonemic characteristics. 
    </p>

    <p class="p-3 fade-in">
        Notwithstanding the shared accent, Larestani and Bastaki have fundamental grammatical differences. Larestani tends to use a postposed directional
        complement à "to" while Bastaki omits this completely<a href="#5"><sup>[5]</sup></a>. This changes sentence structure drastically, placing the verb after the subject 
        (Bastaki: <i>madrasa raftim</i> Larestani: <i>chedem à madrasa</i> "I went to school"). Like Persian, Bastaki does not have this directional component. 
    </p>

    <p class="p-3 fade-in">
        Larestani also features a derivative <i>o-</i> expressing general possession "to have", which is not present in Bastaki<a href="#5"><sup>[5]</sup></a>.
    </p>
    <p class="p-3 fade-in"> Some examples:</p>
    <div class="flex flex-col relative mt-1 p-2">
        <div class="overflow-x-scroll sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-scroll">
              <table class="min-w-full text-left text-sm font-medium">
                <thead
                  class="border-b bg-ml-olive font-medium dark:border-neutral-500 dark:bg-neutral-600">
                  <tr>
                    <th scope="col" class="px-6 py-4">English</th>
                    <th scope="col" class="px-6 py-4">Larestani<a href="#5"><sup>[5]</sup></a></th>
                    <th scope="col" class="px-6 py-4">Bastaki</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                    <td class="break-normal px-6 py-4">I have/ I don't have</td>
                    <td class="break-normal px-6 py-4">ome, omnísi</td>
                    <td class="break-normal px-6 py-4">m'apish hin/ m'apish nin</td>
                  </tr>
                  <tr
                    class="border-b bg-white dark:border-neutral-500 dark:bg-neutral-600">
                    <td class="break-normal px-6 py-4">you have/ you don't have</td>
                    <td class="break-normal px-6 py-4">ote, otnísi</td>
                    <td class="break-normal px-6 py-4">t'apish hin/ t'apnish nin</td>
                </tr>
                <tr
                    class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-600">
                    <td class="break-normal px-6 py-4">they have/ they don't have</td>
                    <td class="break-normal px-6 py-4">sho'e, shonísi</td>
                    <td class="break-normal px-6 py-4">shunapish hin/ shunapish nin</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    <p class="p-3 fade-in"> 
        Ergativity is a recessive trait in languages, more likely to be inherited than borrowed, so is used as an indicator to identify language families<a href="#7"><sup>[7]</sup></a><a href="#8"><sup>[8]</sup></a>.
        Both Pahlavi and Larestani are ergative languages, displaying vestigial ergativity, whereas literary Persian is non-ergative<a href="#5"><sup>[5]</sup></a>.
        Bastaki displays intransitive ergativity very similarly to Larestani (e.g. <b class="font-semibold">m'ä</b>i "I want", <b class="font-semibold">um</b>nóvit "I don't want").
    </p>

    <p class="font-semibold p-2 text-lg underline">Final Words</p>
    <p class="p-3 fade-in">The data here has been sourced through descriptive linguistic fieldwork. But, as a strictly oral language, Ajami is without a standardized, pervasive compendium of literature, 
        which makes it exceptionally volatile. Dialects are heavily influenced by migration, multilingualism and assimilation and through these, many Bastaki-speakers also speak Persian, Arabic, and sometimes Urdu.  
    </p>
    <p class="p-3 fade-in">Because of this, it is neither reasonable nor expected for all Bastaki-speakers to speak exactly alike. This dialect is not static. Instead, it evolves insularly among communities, influenced by their surroundings. 
        With this in mind, the point is not to enforce stagnancy, but rather to simply record how we speak as a reflection of our culture and our language's current iteration. 
    </p>


    <p class="font-semibold p-2 text-lg underline">References and Further Reading</p>
    
    <p id="1" class="p-1 fade-in">[1] UNESCO (2010).<a class="text-green-800 underline" href="https://unesdoc.unesco.org/ark:/48223/pf0000187026/PDF/187026eng.pdf.multi">Atlas of the World's Languages in Danger 3rd ed.</a> p. 46. ISBN 978-92-3-104096-2 </p>
    <p id="2" class="p-1 fade-in">[2] B. Moridi and M. Ourang. (2015). <a class="text-green-800 underline" href="http://icehm.org/upload/4853ED0115115.pdf">
        An Analytical Study of Morphological Features and Considerations of Iranian Endangered Language (Case Study of Nominal System in Lari).</a> International Conference on Humanities, Literature and Management (ICHLM'15)</p>
    <p id="3" class="p-1 fade-in"> [3] A. Rahimi and T. Mansoori (2016). <a class="text-green-800 underline" href="https://www.researchgate.net/publication/290821138_A_Study_of_Personal_Pronouns_of_Larestani_Language_as_an_Endangered_Iranian_Language"> A Study of Personal Pronouns of Larestani Language as an Endangered Iranian Language</a> DOI:10.13140/RG.2.1.1342.0566</p>
    <p id="4" class="p-1 fade-in"> [4] S. Moradi (2020). Advances in Iranian Linguistics. John Benjamins Publishing Company, p 34. ISBN 9789027207166</p>
    <p id="5" class="p-1 fade-in"> [5] A. Sharifzadeh (2014). <a class="text-green-800 underline" href="https://borderlessblogger.com/2014/05/20/notes-on-a-journey-thru-larestan-iran/">Notes on a Journey through Lārestān, Iran</a>. borderlessblogger.</p>
    <p id="6" class="p-1 fade-in"> [6] M. Tadou and R. Mirzaei (2016). <a class="text-green-800 underline" href="https://jill.shirazu.ac.ir/article_4134.html?lang=en">The Study of the Arabic Words in the Bastaki Dialect.</a> Journal of Iranian Dialects & Linguistics, 1(2), pp. 177-202. doi: 10.22099/jill.2017.25084.1039</p>
    <p id="7" class="p-1 fade-in"> [7] J. Nichols (1993). <a class="text-green-800 underline" href="https://www.tandfonline.com/doi/abs/10.1080/07268609308599489">Ergativity and linguistic geography</a>. Australian Journal of Linguistics, 13:1, 39-89, DOI: 10.1080/07268609308599489 /p>
    <p id="8" class="p-1 fade-in"> [8] J. Nichols (2003). <a class="text-green-800 underline" href="https://www.google.ae/books/edition/The_Handbook_of_Historical_Linguistics/8F_O12CS9L8C?hl=en&gbpv=1&dq=nichols+ergativity+recessive+trait&pg=PA295&printsec=frontcover"> "Diversity and stability in language."</a> The handbook of historical linguistics, p. 295.</p>
    <p class="p-1 fade-in"> [9] B. Moridi (2009). <a class="text-green-800 underline" href="https://www.jstor.org/stable/25703812">The Dialects of Lar (The State of Research)</a>. Iran & the Caucasus , 2009, Vol. 13, No. 2 (2009), pp. 335-340</p>
    <p class="p-1 fade-in"> [10] K. Noda (1983). <a class="text-green-800 underline" href="https://www.jstage.jst.go.jp/article/gengo1939/1983/84/1983_84_105/_pdf"> "Ergativity in Middle Persian."</a>GENGO KENKYU Journal of the Linguistic Society of Japan, no. 84, 105-125</p>

</div>
</div>
</div>

{% endblock %}